@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*General style  */

body {
    margin: 0;
    line-height: 2;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.home-section {
    background-color: #504e70;
    padding: 30px;
    display: block;
}

.main-content {
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0, 15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0, 15);
}


/*Aside */

.aside {
    width: 270px;
    border-right: #e8dfec 5px solid;
    background-color: white;
    position: fixed;
    height: 100%;
    z-index: 10;
    padding: 30px;
}

.aside .logoDraw {
    margin-top: -80px;
    padding: 70px;
    height: 320px;
}

.logoDraw img {
    height: 350px;
}

.aside .navigation {
    margin: 80px 0;
    list-style: none;
}

.aside .navigation a {
    text-decoration: none;
    display: block;
}

.aside .navigation li a {
    font-size: 16px;
    font-weight: 800;
    color: #302e4d;
    line-height: 45px;
    border-bottom: 2px solid #e8dfec;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.about .about-content .about-text h3 span,
.section-title h2::before,
.aside .navigation li a:not(.active):hover,
.aside .navigation li a.active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: #b03153;
}

.home-section .intro-text .social-links a {
    background-color: #b03153;
}

.aside .navigation li a .fa {
    margin-right: 5px;
    margin-left: 1px;
}

.aside .copyright {
    padding-top: 90px;
    font-size: 13px;
    opacity: 0.5;
}

.aside .logoDraw p {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
}


/* Home */

.home-section {
    min-height: 754px;
    display: -ms-flexbox;
    display: flex;
}

.home-section .intro-text {
    text-align: center;
    margin-bottom: 100px;
}

.home-section .intro-text img {
    height: 280px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid whitesmoke;
}

.home-section .intro-text h1 {
    font-size: 30px;
    color: #302e4d;
    font-weight: 700;
    margin: 20px 0 5px;
}

.home-section .intro-text h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
}

.home-section .intro-text .social-links {
    margin-top: 25px;
}

.home-section .intro-text .social-links a {
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    margin: 0 10px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 3px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 0px 18px -3px rgba(0, 0, 0, 0.75);
}

.home-section .intro-text .social-links a:hover {
    -webkit-transform: scale(2.1);
    transform: scale(2.1);
}


/*about section */

.section-title h2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 40px;
    font-weight: 500;
    color: #302e4d;
}

.section-title h2::before {
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.responsive {
    padding-right: 15px;
    padding-left: 20px;
}

.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #302e4d;
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #302e4d;
}

.about .about-content .personal-info {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about .about-content .skills {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 40px;
}

.about .about-content .personal-info .info-me {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.about .about-content .personal-info .info-me p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #b03153;
    margin: 0;
    border-bottom: 1px solid #b03153;
    width: 320px;
}

.about .about-content .personal-info .info-me p span {
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .button {
    margin-top: 30px;
}

.about .about-content .personal-info .button .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: #b03153;
    color: #ffffff;
    border-radius: 40px;
    -webket-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    margin-top: 35px;
    text-decoration: none;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/*skills */

.about .about-content .skills .skill-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 50%;
    margin-bottom: 35px;
    margin-top: 30px;
    padding-left: 15px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
}

.about .about-content .skills .skill-item .progress {
    background-color: #e3e3e3;
    height: 15px;
    border-radius: 4px;
    width: 50%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    height: 100%;
    border-radius: 4px;
    background-color: #b03153;
}

.about .about-content .skills .skill-item .progress .skill-percent {
    line-height: 55px;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin-top: 35px;
    margin-left: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
}

.about .about-content .certi {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 0 0 50%;
    margin-top: 30px;
}

.about .about-content .diploma {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 0 0 50%;
    margin-top: 30px;
}

.about .about-content .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    width: 80%;
}

.about .about-content .timeline-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 0 0 100%;
    padding-bottom: 40px;
}

.about .about-content .timeline .timeline-date {
    color: #504e70;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}

.about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    padding-bottom: 50px;
}

.underline-decorator {
    background-color: red;
    height: 1px;
    margin-bottom: 20px;
}


/* portfolio */

.portfolio .title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
    margin-top: 30px;
}

.port-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 0 0 100%;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 35px;
    border: 2px solid #504e70;
    border-bottom-color: #b03153;
    height: 450px;
    width: 25%;
    border-radius: 20px;
    margin-top: 50px;
    -webkit-box-shadow: 13px 12px 28px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 12px 28px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 12px 28px -10px rgba(0, 0, 0, 0.75);
    display: inline-flex;
    flex-direction: row;
    background-color: whitesmoke;
}

.portfolio .port-box:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio .port-box .box-title {
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    height: 30px;
    width: 100%;
    background-color: #fdf9ff;
}

.portfolio .port-box .box-image img {
    height: 130px;
    width: 100%;
    margin-top: 10px;
}

.portfolio .port-box .box-text {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    line-height: 20px;
    margin-top: -10px;
}

.portfolio .port-box #button1 {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: #b03153;
    color: #ffffff;
    border-radius: 40px;
    -webket-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    margin-top: 85px;
    text-decoration: none;
    cursor: pointer;
}

.portfolio .port-box #button2 {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: #b03153;
    color: #ffffff;
    border-radius: 40px;
    -webket-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    margin-top: 48px;
    text-decoration: none;
    cursor: pointer;
}

.portfolio .port-box #button3 {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: #b03153;
    color: #ffffff;
    border-radius: 40px;
    -webket-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    margin-top: 7px;
    text-decoration: none;
    cursor: pointer;
}

#button3:hover {
    opacity: 0.7;
}

#button2:hover {
    opacity: 0.7;
}

#button1:hover {
    opacity: 0.7;
}


/*projecten */

p.texttoggle {
    display: none;
}

p.jeugdtoggle {
    display: none;
}

p.nametoggle {
    display: none;
}

p.movietoggle {
    display: none;
}

p.guesstoggle {
    display: none;
}

p.endtoggle {
    display: none;
}

.icons6 .fa:hover {
    opacity: 0.7;
}

.icons6 .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons5 .fa:hover {
    opacity: 0.7;
}

.icons5 .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons4 .fa:hover {
    opacity: 0.7;
}

.icons4 .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons3 .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons3 .fa:hover {
    opacity: 0.7;
}

.icons2 .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons2 .fa:hover {
    opacity: 0.7;
}

.icons .fa {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.icons .fa:hover {
    opacity: 0.7;
}

.goback .fa {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 20px;
}

.goback p {
    font-size: 18px;
    color: grey;
    padding-left: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.goback .fa:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.goback:hover {
    animation-name: gobackanimation;
    animation-duration: 5s;
}

@keyframes gobackanimation {
    0% {
        padding-left: 20px;
    }
    25% {
        padding-left: 0px;
    }
    50% {
        padding-left: -1px;
    }
    100% {
        padding-left: 20px;
    }
}

.icons img {
    display: none;
}

.portfolio .port-box .box-image-projecten img {
    height: 200px;
    width: 320px;
    border: 2px solid black;
}

.portfolio .port-box .box-title {
    background-color: whitesmoke;
}

.portfolio .port-box .taal1 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .taal2 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .taal3 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .taal4 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .taal5 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .taal6 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b03153;
    margin: 0;
}

.portfolio .port-box .gitlablink p a {
    text-decoration: none;
}

.portfolio .port-box .gitlablink p a:hover {
    opacity: 0.7;
}


/* background projecten*/

.background {
    background-image: linear-gradient(to left bottom, #4e153d, #741346, #9b1047, #bf173f, #de2f2f);
}


/*foto album */

.albumheader {
    text-align: center;
    padding: 32px;
}

.albumrow {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
    justify-content: center;
}


/* Create four equal columns that sits next to each other */

.albumcolumn {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
}

.albumcolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.albumcolumn img:hover {
    transition: ease-in-out 1s;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .albumcolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .albumcolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/* Responsive overal*/

@media screen and (max-width: 1400px) {
    .port-box {
        width: 44%;
        display: inline-block;
    }
    .about .about-content .skills {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 20px;
    }
    .portfolio .port-box #button2 {
        margin-top: 55px;
    }
    .portfolio .port-box #button3 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 910px)
/* Mobile */

{
    .aside {
        display: none;
    }
    .main {
        display: flex;
        justify-content: center;
        margin-right: 100px;
        margin-left: -150px;
    }
    .about .about-content .skills {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about .about-content .timeline-box {
        width: 500px;
        padding-left: 60px;
    }
    .about .about-content .personal-info {
        margin-left: 50px;
    }
    .about .about-content .btn {
        margin-left: 5px;
    }
    .about .about-content .timeline-box .title h3 {
        padding-left: 120px;
    }
    .port-box {
        width: 80%;
        display: block;
        margin-left: 40px;
    }
    .portfolio .port-box .box-image-projecten img {
        height: 230px;
    }
    .port-box .taal1,
    .taal2,
    .taal3,
    .taal4,
    .taal5,
    .taal6 p {
        opacity: 0;
        display: none;
    }
    .portfolio .port-box #button2 {
        margin-top: 60px;
    }
    .portfolio .port-box #button3 {
        margin-top: 50px;
    }
    .about .about-content .diploma {
        padding-left: 25px;
    }
}

@media screen and (max-width: 440px) {
    .port-box {
        display: none;
    }
}